<!DOCTYPE html>
<html lang="kr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>세상을 뛰게하는 명대사</title>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
   </head>

   <body>
      <div class="wrapper">
          <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  MOVIEBEAT
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="/">HOME</a></li>
                     <li>
                         <a href="/action">GENRE</a>
                     </li>
                     <li><a href="/analysis">ANALYSIS</a></li>
                  </ul>

                       <br>
                       <br>
                       <br>
                       <br>
                   	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form  method="post" class = ""action="/result">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Moviebeat! 영화를 검색하세요 :)" name="d">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto middle">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
               </div>

          </header>

      </div>


    <!--여기까지가 위에 로고창 -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/bootstrap/moving.js"></script>
   </body>
</html>